.portfolio-img {
    height: 250px; /* Задаем фиксированную высоту для всех изображений */
    width: 100%; /* Занимает всю ширину контейнера */
    object-fit: cover; /* Обрезает изображение по размеру, не искажая его */
}

.project-section {
    margin-bottom: 50px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.project-description {
    padding: 20px;
    text-align: left;
}

.portfolio-img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}