.project-section {
    display: flex;
    flex-wrap: wrap;
    gap: 20px; /* Отступы между элементами */
    margin-bottom: 50px;
}

.portfolio-box {
    position: relative;
    overflow: hidden;
    width: 48%; /* Каждая картинка займёт примерно половину ширины */
    height: 200px; /* Фиксированная высота для ровного отображения */
    border-radius: 8px;
    margin-bottom: 10px;
}

.portfolio-img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Заполняет контейнер, сохраняя пропорции */
    border-radius: 8px;
}

.project-description {
    width: 100%; /* Описание займёт всю ширину под изображениями */
    padding: 20px;
    text-align: left;
}