<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">About Me</h2>
                <hr class="light">
                <p class="text-faded">
                    I'm Natalya Atyukova, a passionate mobile developer creating innovative solutions for both iOS and Android platforms. With expertise in modern technologies like Swift, SwiftUI, Kotlin, and Firebase, I build powerful and user-friendly applications that make a difference. Check out my GitHub to explore my latest projects!
                </p>
                <a href="https://github.com/NatalyaAtyukova" class="btn btn-default btn-xl">Visit My GitHub</a>
            </div>
        </div>
    </div>
</section> 