<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Welcome to My iOS Developer Portfolio</h2>
                <hr class="light">
                <p class="text-faded">
                    I’m Natalya Atyukova, an iOS developer focused on creating seamless and engaging mobile applications. My portfolio includes projects like a Course Management Platform and a Logistics App, each crafted with modern tools like Swift, SwiftUI, and Firebase. Discover my work below and check out my GitHub for more!
                </p>
                <a href="https://github.com/NatalyaAtyukova" class="btn btn-default btn-xl">Visit My GitHub</a>
            </div>
        </div>
    </div>
</section>