<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Обо мне</h2>
                <hr class="light">
                <p class="text-faded">
                    Я — Атюкова Наталья Владимировна — увлечённый мобильный разработчик, создающий инновационные решения для iOS и Android. Владею современными технологиями: Swift, SwiftUI, Kotlin, Firebase. Разрабатываю мощные и удобные приложения, которые делают жизнь пользователей проще. Посмотрите мой GitHub, чтобы узнать больше о моих проектах!
                </p>
                <a href="https://github.com/nataliaatiukova" class="btn btn-default btn-xl">Мой GitHub</a>
            </div>
        </div>
    </div>
</section>
