<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Связаться со мной</h2>
                <hr class="primary">
                <p>Если вы хотите обсудить проект, сотрудничество или просто поздороваться — напишите мне на почту или загляните на мой GitHub!</p>
            </div>
            <div class="col-lg-2 col-lg-offset-3 text-center">
                <a href="mailto:whitepanda205@icloud.com">
                    <i class="fa fa-envelope-o fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                    <p>whitepanda205@icloud.com</p>
                </a>
            </div>
            <div class="col-lg-2 col-lg-offset-1 text-center">
                <a href="https://github.com/nataliaatiukova">
                    <i class="fa fa-github fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                    <p>nataliaatiukova</p>
                </a>
            </div>
            <div class="col-lg-2 text-center">
                <a href="privacy-policy.html">
                    <i class="fa fa-shield fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                    <p style="font-weight:600;letter-spacing:0.01em;">Политика конфиденциальности</p>
                </a>
            </div>
        </div>
    </div>
</section>
