<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Get in Touch!</h2>
                <hr class="primary">
                <p>If you'd like to discuss potential projects, collaborations, or just say hello, feel free to reach out to me via email or check out my GitHub for my latest projects.</p>
            </div>
            <div class="col-lg-2 col-lg-offset-3 text-center">
                <a href="mailto:whitepanda205@icloud.com">
                    <i class="fa fa-envelope-o fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                    <p>whitepanda205@icloud.com</p>
                </a>
            </div>
            <div class="col-lg-2 col-lg-offset-1 text-center">
                <a href="https://github.com/nataliaatiukova">
                    <i class="fa fa-github fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                    <p>nataliaatiukova</p>
                </a>
            </div>
            <div class="col-lg-2 text-center">
                <a href="privacy-policy-en.html" style="display: flex; flex-direction: column; align-items: center; color: #f05f40; text-decoration: none;">
                    <i class="fa fa-shield fa-3x wow bounceIn" data-wow-delay=".1s" style="color: #f05f40;"></i>
                    <p style="margin: 8px 0 0 0; font-weight:600; letter-spacing:0.01em; color: #f05f40;">Privacy Policy</p>
                </a>
            </div>
        </div>
    </div>
</section> 
