<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>Добро пожаловать в портфолио мобильного разработчика</h1>
            <hr>
            <p>Я Наталья Атьюкова, мобильный разработчик, создающий современные и удобные приложения для iOS и Android. Использую современные инструменты — Swift, SwiftUI, Kotlin, Firebase — чтобы разрабатывать мощные кроссплатформенные решения. Ознакомьтесь с моими проектами ниже или посетите мой GitHub!</p>
            <a href="#about" class="btn btn-primary btn-xl page-scroll">Подробнее</a>
        </div>
    </div>
</header>