<section id="provider-info" class="provider-info-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="provider-info-card">
                    <h2>Информация о поставщике услуг</h2>
                    <dl class="provider-info-list">
                        <dt>ФИО</dt>
                        <dd>Атюкова Наталья Владимировна</dd>
                        <dt>ИНН</dt>
                        <dd>643404462600</dd>
                        <dt>Статус</dt>
                        <dd>самозанятая (Налог на профессиональный доход)</dd>
                    </dl>
                    <p class="provider-info-note">Данные опубликованы в соответствии с Постановлением Правительства РФ № 2463 о дистанционной торговле.</p>
                </div>
            </div>
        </div>
    </div>
</section>
