<section id="provider-info" class="provider-info-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="provider-info-card">
                    <h2>Service Provider Information</h2>
                    <dl class="provider-info-list">
                        <dt>Full Name</dt>
                        <dd>Natalia Atiukova</dd>
                        <dt>Tax ID (INN)</dt>
                        <dd>643404462600</dd>
                        <dt>Status</dt>
                        <dd>Self-employed (Professional Income Tax)</dd>
                    </dl>
                    <p class="provider-info-note">Data is published in accordance with Russian Government Decree No. 2463 on distance sales.</p>
                </div>
            </div>
        </div>
    </div>
</section>
