<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Навыки и экспертиза</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-code wow bounceIn text-primary"></i>
                    <h3>Разработка iOS</h3>
                    <p class="text-muted">Эксперт в создании надёжных iOS-приложений на Swift и SwiftUI, обеспечиваю плавный и приятный пользовательский опыт.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-android wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <h3>Разработка Android</h3>
                    <p class="text-muted">Профессионал в разработке Android-приложений на Kotlin, создаю нативные приложения с современным Material Design.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-mobile wow bounceIn text-primary" data-wow-delay=".2s"></i>
                    <h3>Кроссплатформенные решения</h3>
                    <p class="text-muted">Опыт в поддержке и разработке приложений для iOS и Android, обеспечиваю единый пользовательский опыт на всех устройствах.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-database wow bounceIn text-primary" data-wow-delay=".3s"></i>
                    <h3>Интеграция с бэкендом</h3>
                    <p class="text-muted">Глубокие знания в работе с Firebase, REST API и базами данных для создания полноценных мобильных приложений.</p>
                </div>
            </div>
        </div>
    </div>
</section>